.project
.vscode
/phpinfo.php
resources/config.php
secure/mailto.bat
secure/*.db
secure/*.sqlite
.DS_Store

*.php~

app/yealink/resources/firmware/*
app/provision/firmware/*
app/xml_cdr/xml_cdr_statistics_inc.php_tjpr
resources/firmware/*
index.php_old
